@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  margin: 0px;
}

/* NAVBAR */
header {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  width: 100%;
  height: 65px;
  position: fixed;
  /* permite que se mangenta siempre en la view de la pagina*/
  top: 0;
  /* permite que sea lo primero que hay en la pagina,  navbar fixed */
  z-index: 1000
  /* que siempre este por encima de los objetos */
}

header div {
  display: table-cell;
  text-align: center;
  vertical-align: 5px;
  padding-left: 110px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  padding-top: 3px;
  padding-left: 220px;
  padding-right: 150px;
  gap: 25px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px;
  float: left;
}

header a {
  color: rgb(50, 50, 50);
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
}

header button {
  border: solid 1px #6a2380;
  border-radius: 15px;
  border-spacing: 30px;
  width: 100px;
  height: 30px;
  margin-top: -10px;
  background-color: white;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #6a2380;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* transicion para animacion */
}

header nav ul li:hover a {
  color: #9c4db1;
}

header button:hover {
  background-color: #6a2380;
  /* Color de fondo del boton en hover  */
  color: white;
  /* Color de las letas al hacer hover */
}

/* BANNER */
div.banner_animado {
  width: cover;
  height: 700px;
  margin: 0px;
  margin-top: 50px;
  position: absolute;
}

div.banner_texto h1 {
  color: #6a2380;
  text-align: center;
  padding-top: 620px;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 4px;
  position: relative;
  -webkit-text-stroke: 0.5px;
}

/* STILE ESPACIO S1 */
#seccion-1 {
  width: 100%;
  height: 700px;
  background-color: white;
  margin-top: 50px;
}

#columna1 h2 {
  position: absolute;
  color: #4b4291;
  text-align: left;
  font-size: 42px;
  font-family: 'Libre+Baskerville', serif;
  margin-top: 200px;
  padding-left: 190px;
  margin-right: 750px;
}

#columna1 p {
  position: absolute;
  color: #606060;
  text-align: left;
  font-size: 19px;
  font-family: 'Karla', sans-serif;
  font-weight: 200;
  font-weight: 400;
  margin-top: 270px;
  padding-left: 180px;
  margin-right: 750px;
  margin-bottom: 100px;
}

#columna2 img {
  margin-top: 200px;
  padding-left: 700px;
  margin-right: 190px;
}

#columna2 h4 {
  color: #6a2380;
  text-align: center;
  font-size: 26px;
  font-family: 'Libre+Baskerville', serif;
  font-weight: lighter;
  margin-top: 20px;
  padding-left: 700px;
  margin-right: 190px;
  margin-bottom: 100px;
}

p {
  color: #606060;
  font-family: 'Karla', sans-serif;
}

.color-changing-text {
  animation: colorChange 4s infinite;
  /* Animation duration and repetition */
  font-weight: bold;
}

@keyframes colorChange {
  0% {
    color: #4b4291;
    /* color al comienzo */
  }

  50% {
    color:#9c4db1;
    /* 2 color */
  }

  100% {
    color: #4b4291;
    /* ultimo color */
  }
}

/* STYLE QUIEN SOY S2 */
#seccion-2 {
  width: auto;
  height: 620px;
  background-image: url(img/BIO_fondo-2.png);
  background-size: cover;
}

#columna3 {
  padding-left: 190px;
  margin-right: 720px;
  margin-bottom: 100px;
  text-align: center;
  position: absolute;
  text-align: center;
}

#columna3 h4{
  color: #6a2380;
  text-align: center;
  font-size: 26px;
  font-family: 'Libre+Baskerville', serif;
  font-weight: lighter;
  padding-top: 10px;
}

#columna4 {
  padding-left: 700px;
  margin-right: 200px;
  margin-bottom: 80px;
  position: relative;
}

#columna4 h2 {
  color: #4b4291;
  text-align: left;
  font-size: 42px;
  font-family: 'Libre+Baskerville', serif;
  padding-top: 80px;
}

#columna4 p {
  position: relative;
  color: #606060;
  text-align: left;
  font-size: 19px;
  font-family: 'Karla', sans-serif;
  font-weight: 200;
  font-weight: 400;
  margin-top: -5px;
}

/* STYLE TERAPIAS S3 */
#seccion-3 {
  width: 100%;
  height: 950px;
}

#titular h2 {
  color: #4b4291;
  font-size: 42px;
  font-family: 'Libre+Baskerville', serif;
  text-align: center;
  margin-top: 0px;
}

#main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  columns count: 3px;
  margin-left: 200px; 
  margin-right: 200px;
  /* Márgenes iguales a los lados */
  text-align: left;
  width: 180px;   
}

article{
  grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "columna5"
        "columna6"
        "columna7";
    grid-gap: 30px;
}

#columna5 {
  grid-area: "columna5";
  background-color: #e5d2f9;
  background-size: 190px;
}

#columna6 {
  grid-area: "columna6";
  background-color: #e5d2f9;
  background-size: 190px;
}

#columna7 {
  grid-area: "columna7";
  background-color: #e5d2f9;
  background-size: 190px;
}

h5 {
  color: #6a2380;
  text-align: left;
  font-size: 32px;
  font-family: 'Libre+Baskerville', serif;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 0px;
}

p {
 font-size: 20px;
 color: #606060;
 font-family: 'Karla', sans-serif;
 font-weight: 200;
 font-weight: 400;
 margin-top: 20px;
 margin-left: 15px;
 margin-right: 10px;
}

h6 {
  color: #c27bcf;
  text-align: left;
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  margin-top: -10px; 
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.moreinfo {
  background-color: #c27bcf;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 400;
  box-shadow: 0px 0px 10px 0px #9c4db1;
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.moreinfo:hover {
  box-shadow: none;
  background-color: #4b4291;
  color: #fff;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.05s;
}

#texto h4 {
  color: #6a2380;
  text-align: center;
  font-size: 26px;
  font-family: 'Libre+Baskerville', serif;
  font-weight: lighter;
  padding-bottom: 50px;
  margin-bottom: 80px;
}

/* BENEFICIOS */
#seccion-4 {
  background-color: #9c4db1;
  background-size: cover;
  width: 100%;
  height: 850px;
}

#titular-bene h2 {
  color: #e5d2f9;
  font-size: 42px;
  font-family: 'Libre+Baskerville', serif;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 30px;
  padding-top: 80px;
}

#columna-contenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 200px; 
  margin-right: 200px;
  /* Márgenes iguales a los lados */
  text-align: left;
  width: 180px;
  grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "columna5"
        "columna6"
        "columna7";
    grid-gap: 30px;
    justify-content: space-between;
}

#seccion-4 h5 {
  color: white;
  text-align: left;
  font-size: 32px;
  font-family: 'Libre+Baskerville', serif;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
}

#seccion-4 p {
  font-size: 16px;
  color: white;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 0px;
}

/* CONTACTO */
#seccion-5 {
  width: 100%;
  height: 650px;
}
#columna10 img {
  float: left;
  text-align: center;
  margin-left: 180px;
  margin-right: 700px;
  position: absolute;
}

#formulario-contacto {
  background-color: #e5d2f9;
  border: solid 1px #e5d2f9;
  border-radius: 30px;
  border-spacing: 50px;
  width: 425px;
  height: 520px;
  margin-top: -10px;
  margin-top: 100px;
  margin-right: 230px;
  margin-left: 720px;
  position: relative;
  justify-content: center;
}

#formulario-contacto h2 {
  color: #4b4291;
  font-size: 42px;
  font-family: 'Libre+Baskerville', serif;
  margin-bottom: 15px;

}

#formulario-contacto form{
  text-align: center;
  color: #606060;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  width:410px;
	border-radius:30px;
  display:inline-block;
  margin-top: 0px;
  margin-left: 10PX;
}

form input[type="text"],
form input[type="email"]{
	width:360px;
	padding: 10px 10px;
	border:1px solid white;
	border-radius: 30px;
	background-color: white;
	margin:5px 0;
	display:inline-block;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

form input[type="number"] {
  width:150px;
	padding: 8px 8px;
	border:1px solid white;
	border-radius: 30px;
	background-color: white;
	margin:5px 0;
	display:inline-block;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-right: 10px;
}

form select[id="genero"] {
  width:140px;
	padding: 10px 10px;
	border:1px solid white;
	border-radius: 30px;
	background-color: white;
	margin:5px 0;
	display:inline-block;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #4b4291;
}

form textarea[id="consulta"] {
  width: 360px;
	padding: 10px 10px;
	border:1px solid white;
	border-radius: 30px;
	background-color: white;
	margin:5px 0;
	display:inline-block;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#formulario-contacto form button {
  border: solid 1px #6a2380;
  -webkit-text-stroke: 1px;
  border-radius: 20px;
  border-spacing: 35px;
  width: 120px;
  height: 40px;
  margin-top: -10px;
  background-color: #6a2380;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* transicion para animacion */
}

 /* FOOTER */
footer {
  background-color: #6a2380;
  background-size: cover;
  width: 100%;
  height: 450px;
  padding-top: 30px;
}

#logo-redes {
  margin-left: 110px;
  margin-right: 930px;
}

.contenedor-icono {
  text-align: left;
  color: white;
}

footer h2 {
  color: #c27bcf;
  text-align: left;
  font-size: 22px;
  font-family: 'Libre+Baskerville', serif;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
}

footer p {
  color: white;
  text-align: left;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
}

#copyrigth {
  margin-top: 50px;
  text-align: center;
}